---
import HeaderLink from '@/components/HeaderLink'
import TwitterIcon from '@/components/icons/TwitterIcon'
import GithubIcon from '@/components/icons/GithubIcon'
import MenuIcon from './icons/MenuIcon.astro'
import Search from '@/components/Search'
import TagIcon from './icons/TagIcon.astro'
import ToggleTheme from './ToggleTheme.astro'

// ADD YOUR SOCIAL NETWORKS HERE
const SOCIALNETWORKS = [
	{
		name: 'Twitter',
		url: 'https://github.com/danielcgilibert/blog-template',
		icon: TwitterIcon
	}
]
---

<div
	class='flex gap-2 justify-between px-16 py-4 text-sm font-semibold tracking-wider leading-5 uppercase bg-slate-900 max-md:flex-wrap max-md:px-5'
>
	<div class='flex gap-5 justify-between whitespace-nowrap text-neutral-100 max-md:flex-wrap'>
		<img
			loading='lazy'
			src='https://cdn.builder.io/api/v1/image/assets/TEMP/fc3006d4354eef3c5cede4b6799eb6bceea0407a47bfea08a7fff273ea2941be?'
			class='aspect-[6.25] w-[269px]'
		/>
		<div class='flex gap-5 justify-between max-md:flex-wrap'>
			<div
				class='justify-center items-center py-3 border-0 border-yellow-700 border-solid h-[45px] w-[45px]'
			>
				HOME
			</div>
			<div class='my-auto'>instructors</div>
			<div class='justify-center items-center py-3 w-11 h-11 border border-black border-solid'>
				GIFTS
			</div>
			<div class='justify-center py-3 border-b-2 border-yellow-700 border-solid'>BLOG</div>
			<div class='my-auto'>MEMBERSHIP</div>
		</div>
	</div>
	<div class='flex gap-2 text-white'>
		<div class='justify-center px-6 py-3 bg-yellow-700 max-md:px-5'>start learning</div>
	</div>
</div>

<!-- <div class='flex gap-3 md:pl-3 bg-red-100 justify-end' transition:persist='navbar'>
	<div>
	  <Search />
	</div>
	<ToggleTheme />
	<button id='astro-header-drawer-button' type='button' class='md:ml-6 md:hidden'>
	  <MenuIcon />
	  <span class='sr-only'>Show Menu</span>
	</button>
  </div> -->

<header class='relative flex flex-col items-center justify-between h-12 font-semibold'>
	<div class='text-6xl text-center leading-[72px] text-slate-900 max-md:text-4xl'>Studio Notes</div>
	<div class='mt-4 text-lg text-center text-yellow-700 font-[420] tracking-[2.7px] max-md:mt-10'>
		EXPLORE BY CATEGORY
	</div>
	<!-- <div id='astro-header-drawer' class='shadow rounded-l-lg md:bg-transparent dark:md:bg-transparent bg-white dark:bg-\[#0a0910\] md:shadow-none md:rounded-none md:border-none md:h-auto md:static absolute transition-transform duration-300 ease-in translate-x-96 md:translate-x-0 top-12 -right-5 pl-4 pt-6 pb-4 md:p-0 h-\[200px\] w-\[200px\] z-50' >
	  <nav class='flex h-full flex-col justify-between gap-12 text-left md:flex-row md:w-full md:gap-5' >
	  </nav>
	</div> -->
</header>

<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
